<div class="url-details">
  <h2>URL Details</h2>
  <p><strong>ID:</strong> {{ urlDetails.id }}</p>
  <p><strong>Original URL:</strong> {{ urlDetails.originalURL }}</p>
  <p><strong>Short URL:</strong> {{ baseUrl+urlDetails.shortenedURL }}</p>
  <p><strong>Created Date:</strong> {{ urlDetails.createdDate | date:'yyyy-MM-dd HH:mm' }}</p>
  <p><strong>Created By User:</strong> {{ userDetails.name }}</p>
  <p><strong>Surname:</strong> {{ userDetails.surname }}</p>
  <p><strong>Email</strong> {{ userDetails.email }}</p>
</div>