<div class="short-urls-table">
  <h2>Short URLs</h2>
  <table>
    <thead>
      <tr>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let url of allUrls">
        <td>{{ url.originalURL}}</td>
        <td>{{baseUrl + url.shortenedURL}}</td>
        <td>
          <button [routerLink]="['/url-info', url.id]">View</button>
          <button *ngIf="isAdmin || isCurrentUser(url.userId)" (click)="deleteUrl(url.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="add-url-section" *ngIf="isLoggedIn">
    <h3>Add New URL</h3>
    <input type="text" [(ngModel)]="newUrl" placeholder="Enter URL">
    <button (click)="addNewUrl(newUrl)">Add</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>